.introduction{
    padding: 60px 10px 60px 10px;
}

.introduction h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #212B35;
    margin-bottom: 40px;
}

.introduction span{
    font-size: 1.2rem;
    font-weight: 400;
    color: #74787a;

}

.introduction span a{
    font-size: 1.2rem;
    font-weight: 400;
    color: #4EB8E7;

}

.social h2{
    font-size: 1.6rem;
    font-weight: 400;
    color: #212B35;
}

.social a i{
    font-size: 1.8rem;
    font-weight: 500;
    color: #4EB8E7;
    margin: 15px;
    text-decoration: none;
    margin-bottom: 40px;
}

.social a i{
    text-decoration: none;
}
.social a i:hover{
    color: #4a92c1;
}

.contact-form.card{
    border: none;
    padding: 20px;
    margin-bottom: 100px;
    width: 75%;
}

.contact-form form{
    padding: 0px 30px 0px 30px;
}

.contact-form h2{
    padding: 10px 0px 20px 0px;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.contact-form .row .form-group .form-control{
    padding: 25px 0px 25px 10px;
}

.contact-form .row .form-group button{
    background-color: #4EB8E7;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

.contact-form .row .form-group button:hover{
    background-color: #4a92c1;
}




















